/** @format */

.App {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 2rem 6rem;
  background-color: blanchedalmond;
}

.line-through {
  text-decoration: line-through;
}

.hide-button {
  display: none;
}

.show-button {
  display: block;
}

.form {
  padding: 1rem;
}

.input-row {
  padding: 0.4rem 0;
  display: flex;
  flex-wrap: wrap;
}

.input-row label {
  flex: 1;
  font-weight: bold;
}

.input-row input {
  flex: 2;
  height: 2rem;
}

.todo-card {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}
